.header__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 150px 0px;
   
    .head__wrapper{
        font-family: 'Lobster', sans-serif;
        color: rgb(172, 100, 240);
      
    }
    .header__navbar{
        display: flex;
       gap: 60px;
        list-style: none; 
        transition: all .5s ease-in-out;
        text-align: center;
    }
    .header__navbar a {
        font-size: 25px;  
        color: rgb(29, 7, 49);
        font-weight: 500;
        &:hover{
            color: blueviolet;
            transition: all .5s ease-in-out;
        }
      
    }
}